IndiaCP_DL_Integration/src/main/java/com/barclays/indiacp/dl/EmudhraClient/dsverifyWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="DSVerifyWSImplService" targetNamespace="http://ds.ws.emas/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ds.ws.emas/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://ds.ws.emas/" version="1.0" xmlns:tns="http://ds.ws.emas/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="DecryptionData" type="tns:DecryptionData" />
<xs:element name="DecryptionDataResponse" type="tns:DecryptionDataResponse" />
<xs:element name="EncryptionData" type="tns:EncryptionData" />
<xs:element name="EncryptionDataResponse" type="tns:EncryptionDataResponse" />
<xs:element name="Initialization" type="tns:Initialization" />
<xs:element name="InitializationResponse" type="tns:InitializationResponse" />
<xs:element name="ProtectedPdf" type="tns:ProtectedPdf" />
<xs:element name="ProtectedPdfResponse" type="tns:ProtectedPdfResponse" />
<xs:element name="SignPdf" type="tns:SignPdf" />
<xs:element name="SignPdfResponse" type="tns:SignPdfResponse" />
<xs:complexType name="SignPdf">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element minOccurs="0" name="arg1" type="xs:string" />
<xs:element minOccurs="0" name="arg2" type="xs:string" />
<xs:element minOccurs="0" name="arg3" type="xs:string" />
<xs:element minOccurs="0" name="arg4" type="xs:string" />
<xs:element minOccurs="0" name="arg5" type="xs:string" />
<xs:element minOccurs="0" name="arg6" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="SignPdfResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="DecryptionData">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element minOccurs="0" name="arg1" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="DecryptionDataResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProtectedPdf">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element minOccurs="0" name="arg1" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="ProtectedPdfResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="EncryptionData">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element minOccurs="0" name="arg1" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="EncryptionDataResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="Initialization">
<xs:sequence />
</xs:complexType>
<xs:complexType name="InitializationResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ProtectedPdf">
    <wsdl:part element="tns:ProtectedPdf" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DecryptionData">
    <wsdl:part element="tns:DecryptionData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SignPdf">
    <wsdl:part element="tns:SignPdf" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Initialization">
    <wsdl:part element="tns:Initialization" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProtectedPdfResponse">
    <wsdl:part element="tns:ProtectedPdfResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EncryptionDataResponse">
    <wsdl:part element="tns:EncryptionDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InitializationResponse">
    <wsdl:part element="tns:InitializationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EncryptionData">
    <wsdl:part element="tns:EncryptionData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DecryptionDataResponse">
    <wsdl:part element="tns:DecryptionDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SignPdfResponse">
    <wsdl:part element="tns:SignPdfResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DSVerifyWS">
    <wsdl:operation name="SignPdf">
      <wsdl:input message="tns:SignPdf" name="SignPdf">
    </wsdl:input>
      <wsdl:output message="tns:SignPdfResponse" name="SignPdfResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptionData">
      <wsdl:input message="tns:DecryptionData" name="DecryptionData">
    </wsdl:input>
      <wsdl:output message="tns:DecryptionDataResponse" name="DecryptionDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProtectedPdf">
      <wsdl:input message="tns:ProtectedPdf" name="ProtectedPdf">
    </wsdl:input>
      <wsdl:output message="tns:ProtectedPdfResponse" name="ProtectedPdfResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptionData">
      <wsdl:input message="tns:EncryptionData" name="EncryptionData">
    </wsdl:input>
      <wsdl:output message="tns:EncryptionDataResponse" name="EncryptionDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Initialization">
      <wsdl:input message="tns:Initialization" name="Initialization">
    </wsdl:input>
      <wsdl:output message="tns:InitializationResponse" name="InitializationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DSVerifyWSImplServiceSoapBinding" type="tns:DSVerifyWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignPdf">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="SignPdf">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SignPdfResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptionData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="DecryptionData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DecryptionDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProtectedPdf">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ProtectedPdf">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ProtectedPdfResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptionData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="EncryptionData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EncryptionDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Initialization">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="Initialization">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="InitializationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DSVerifyWSImplService">
    <wsdl:port binding="tns:DSVerifyWSImplServiceSoapBinding" name="DSVerifyWSImplPort">
      <soap:address location="http://secmsgdemo.emudhra.com:8282/emsigner/services/dsverifyWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>